---
layout: base
---

<article class="post">

    <header class="post-header">
        <h1 class="post-title">About Me</h1>
    </header>

    <div class="post-content">
        <p>
            Hey, welcome to my website. I am a software engineer interested in AI, distributed
            computing, data science, robotics, and the bridge between bits and atoms.
            <br></br>
            Here are some <a href="/projects">projects</a> I have worked on over the years.
            <br></br>I am a techno-optimist. I believe that we have the power
            to make the future awesome if we so choose. I am motivated to build by a desire
            to solve problems and a love for technology.
            <!-- <br></br>
                        I occasinally write <a href="/blog">blog posts</a> about these topics and other random things. -->
            <br></br>
            I'm also compiling a <a href="/links">list of links</a> to projects and websites I think are
            worth checking out.

        </p>
    </div>

</article>