---
layout: base
---

<article class="post">

    <header class="post-header">
        <h1 class="post-title">About Me</h1>
    </header>

    <div class="post-content">
        <p>
            Hey, welcome to my website.<br><br>
            I am a software engineer with experience in fullstack web development and data science/engineering.
            <br><br>
            Additionally, I'm trying to learn as much as possible about AI, and working on some machine learning
            side-projects.
            I'm also curious about economics, math, physics, and consciousness.
            <br><br>
            Here are some of the <a href="/projects">projects</a> I have worked on over the years.
            Feel free to check out my <a href="https://github.com/kennethkoch">GitHub</a> too.
            <br><br>

        </p>
    </div>

</article>