---
layout: base
---

<h3>Notable Projects</h3>
<ul>
    <li>
        <a href="https://www.gensend.email">
            gensend.email
        </a>
        <p>GenSend is a tool for generating and sending emails using AI.</p>
        <p>A demo is available at <a href="https://www.gensend.email">gensend.email</a></p>
        <p>This tool allows users to adjust parameters like formality, empowering
            users to generate emails that precisely match their desired tone and ensure
            effective communication in a variety of contexts.</p>
        <p>GenSend is powered by the OpenAI API. The interface is built in React, the
            and back end uses Node.js.</p>
    </li>
    <li>
        <a href="https://bike-safe-dashboard.vercel.app/">bike-safe-dashboard</a>
        <p>This is a data visualization project examining
            trends in cyclist and pedestrian safety in NYC. </p>
        <a href="https://bike-safe-dashboard.vercel.app/">Demo</a> |
        <a href="https://github.com/kennethkoch/bike-safe-dashboard">Source (Dashboard)</a> |
        <a href="https://github.com/kennethkoch/bikesafe-dashboard-api">Source (API/data)</a>
        <p>
            The project's back end employs Python, utilizing Pandas DataFrames to extract
            and categorize pertinent details from a sizable dataset of around 1.9 million
            rows, sourced from NYC Open Data.
        <p>Its focus is on identifying and classifying
            information related to accidents involving cyclists and/or pedestrians.</p>
        </p>
        <p>
            A custom API was implemented to serve this data to a React front end,
            displaying interactive charts that showcase trends in cyclist and pedestrian
            safety over time.
        </p>
        <p>
            The live site continually updates its statistics on a daily basis.
        </p>
    </li>
    <li>
        <a href="">FortySix</a>
        <p>FortySix is a browser-based distributed computing platform.</p>
        <a href="">Source</a>
        <p>
            FortySix allows users to customize and run genetic algorithms and
            distribute the computational load across multiple browser clients.
        </p>
        <p>
            Anyone can contribute CPU resources to an ongoing computation by opening
            a URL in their browser.
        </p>

    </li>
</ul>